.App-header {
  background-color: #c01f54;
  color: white;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

}
.App-title {
  font-size: 1.5em;
}